<style>
       body{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,89,1) 35%, rgba(1,2,14,1) 100%);
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            font-family: 'Wix Madefor Display', sans-serif;
            justify-content: center;
            margin: 0;
            padding: 0;
            width:99vw;
        }
        h1{
            color: rgba(255, 255, 255, 0.774);
            font-size: 50px;
            text-align: center;
            width: 100%;
            
        }
</style>
<h1>Best of Sentino</h1>